*{
    margin:0;
  }
  
  .flag{
    width: 100%;
    height: 100%;
    position:absolute;
    display: flex;
    flex-direction: column;
  }
  
  .stripe {
    height: calc(100%/9);
  }
  
  .blue {
    background-color: #055EB0;
  }
  
  .white {
    background-color: #FFFFFF;
  }

  .square {
    background-color: #000000;
    width: calc(100%/3);
    height: 55.5%;
    z-index: 1;
    position: absolute;
  }

  .elem-1 {
    width: 40%;
    
  }
  
  .elem-2 {
    width: 20%;
    
  }
  
  .elem-3 {
    width: 40%;
    
  }

  .coluna {
    display: flex;
    flex-direction: row;
  }
  
  .c1 {
    height: 40%;
    width: 100%;
  }
  
  .c2 {
    height: 20.2%;
    width: 100%;
  }
