*{
  margin:0;
}

.flag{
  width: 100%;
  height: 100%;
  position:absolute;
}

.stripe {
  width: calc(100% / 3);
  height: 100%;
  float: left;
}

.black {
  background-color: #000000;
}

.yellow {
  background-color: #FDDA24;
}

.red {
  background-color: #EF3340;
}

