*{
    margin:0;
  }
  
  .flag{
    width: 100%;
    height: 100%;
    position:absolute;
  }
  
  .stripe {
    height: calc(100% / 3);
  }
  
  .black {
    background-color: #000000;
  }
  
  .yellow {
    background-color: #FFCC00;
  }
  
  .red {
    background-color: #FF0000;
  }
  
  