* {
  margin: 0;
}

.white {
  background-color: #ffffff;
}

.blue {
  background-color: #002f6c;
}

.flag {
  height: 100vh; /* medidas tiradas no material disponibilizado no slack */
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.coluna {
  display: flex;
  flex-direction: row;
}

.elem-1 {
  width: 25%;
}

.elem-2 {
  width: 185px;
}

.elem-3 {
  width: 95%;
}

.c1 {
  height: 450px;
  width: 100%;
}

.c2 {
  height: 185px;
  width: 100%;
}