*{
    margin:0;
  }
  
  .flag{
    width: 100%;
    height: 100%;
    position:absolute;
  }

  .stripe {
    height: 20%;
  }
  
  .stripes {
    height: 60%;
  }
  
  .red {
    background-color: #FF0000;
  }

  .white {
    background-color: #FFFFFF;
  }
  
  .lb {
    margin-left: 32%;
    width: 320px;
    height: 100px;
  }
  