h1 {
    font-size: 75px;
    line-height: 0.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}

h2 {
    font-size: 200px;
    line-height: 0.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}

.msgTitulo {
    padding-left: 10%;
}

.numberCountDown {
    padding-left: 40%;
}

.msgTempo {
    padding-left: 25%;
}

body {
    background-color: #000000;
}