<html>
  <head>
    <title>Hello World</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <section id="meuPrimeiroApp">

      <p>Digite um ID de Pokémon: </p>
      <input type="text" placeholder="ex: 103" v-on:blur="buscar()" v-model="idParaBuscar">  
      <input type="button" name="botao-sorte" value="Estou com Sorte!" v-on:click="numeroRandom()">

      <h2 v-if="idParaBuscar < 802 || idParaBuscar > 0">ID Pokémon: {{ idParaBuscar }}</h2>
      <h2 v-if="idParaBuscar > 802 || idParaBuscar < 0">Não encontrado</h2>
      <h2 v-if="avisoAnterior === true">ID digitado igual ao exibido. Escolha outro.</h2>

      <h1>{{ pokemon.nome }}</h1>
      <img v-bind:src="pokemon.thumbUrl" v-bind:alt="pokemon.nome">
      <h2 v-show="pokemon._altura">Altura (cm): {{ pokemon._altura }}</h2>
      <h2 v-show="pokemon.tipos">Tipos: </h2>
      <ul>
        <li v-for="tipo in pokemon.tipos">{{ tipo }}</li>
      </ul>
      <h2 v-show="pokemon.stats">Estatísticas: </h2>
      <ul>
        <li v-for="stat in pokemon.stats">{{ stat }}</li>
      </ul>
    </section>
    <script src="src/pokemon.js"></script>
    <script src="src/pokeApi.js"></script>
    <script src="src/app.js"></script>
  </body>
</html>
