<template>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="text" v-validate="'required'" :name="nome" v-model="valor" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="usuario@email.com">
    <small id="emailHelp" class="form-text text-muted">Não vamos compartilhar seu email com ninguém.</small>
    <div class="alert alert-danger" role="alert" v-show="errors.has(this.nome)">
      <span>{{ errors.first( this.nome ) }}</span>
    </div>
  </div>
</template>
<script>
import { Validator } from 'vee-validate';

export default {
  name: 'EmailInput',
  props: {
    nome: String
  },
  data: () => {
    return {
      valor: ''
    }
  },
  methods: {
    created: function() {
      VeeValidate.Validator.extend('verify_email', {
        // Custom validation message
        getMessage: (name) => `O ${name} não é e-mail DBC.`,
        // Custom validation rule
        validate: (name) => new Promise(resolve => {
          name.includes('@dbccompany.com.br')
          resolve({
              valid: name && (validCoupons.indexOf(name.toUpperCase()) > -1)
          });
        })
      });
    },
  }
}
</script>
