<template>
  <div class="form-group">
    <label v-bind:for="nome">Senha</label>
    <input type="password" v-bind:name="nome" v-model="valor" class="form-control" v-bind:id="nome" placeholder="Senha" v-validate="'min:5'">
    <div class="alert alert-danger" role="alert" v-show="errors.has(this.nome)">
      <!--<span>{{ errors.first( this.nome ) }}</span>-->
      <span v-for="error in errors.collect( this.nome )" :key="error">{{ error }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PasswordInput',
  props: {
    nome: String
  },
  data: () => {
    return {
      valor: ''
    }
  }
}
</script>
