  * {
    margin: 0;
    font-family: 'Berkshire Swash', sans-serif;
    font-size: 1.2;
  }

  .links {
    color: #000;
  }
  
nav li{
  display: block;
}

  h2 {
    position: relative;
    margin: 2px auto;
    width: 300px;
    padding: 5px;
  }

  #shadow{
    text-shadow: 5px 5px 5px rbga(0,0,0,0.5);
  }
  header {
    position: relative;
    top: 0;
    padding: 10px 0 0 25px;
  }

  header img{
    position: absolute;
    top:3px;
  }

  .fundo-azul {
    background-color: #2368BC;
  }

  .texto-titulo {
    color:#ECEBE4;    
    font-size: 2.5em;
  }

  .menu {
    padding:0px;
    margin:0px;
    position: relative;
    /*margin: 105px auto;*/
    background-color: rgb(248, 45, 45);
    font-size: 13px;
  }
  img{
    border-radius: 10px;
    box-shadow: 4px 8px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .menu li{
    display: inline;
  }

  .texto-descricao a{
    font-size: 1.2em;
  }

  li {
		width:10%;
		float:left;
    margin: 10px;
    padding-left: 140px;
    font-size: 1.2em;
    font-weight: bold;
  }

  ul {
    list-style-type:none;
    height: 80px;
  }

  a:link, a:visited, a:active {
    color:#ECEBE4;
    text-decoration: none;
    }

  a:hover {
    color:#000; 
  }

  p {
    margin:25px;
    font-size:1.5em;
    font-family: 'Berkshire Swash', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .descricao {
    margin:20px;
    text-align: center;
    background-color: #CCC9A1;
    border-radius: 10px;
  }

  .texto-descricao {
    padding:10px;
    font-family: 'Berkshire Swash', sans-serif;
  }

  .titulo-categoria{
    margin: 12px;
    text-align: center;
    font-family: 'Berkshire Swash', sans-serif;
  }

  #realsaltlake {
    color:rgb(248, 45, 45);
  }
