body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFFFF;
}

.pokedex-logo {
    height: 166px;
    width: 600px;
    color:#ECEBE4;    
  }

  .fundo-header {
    padding:0px;
    margin:0px;
    position: relative;
    background-color: #ffb000;
    border-radius: 10px;
  }

  .menu {
    padding-left:5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin:5px;
    position: relative;
    /*margin: 105px auto;*/
    font-size: 13px;
    background-color: #ffb000;
    border-radius: 10px;
  }
  
  .menu h2 {
    font-size: 20px;
  }

  .pokemonNome{
      font-size: 35px;
  }
  
  .meio {
      padding-left: 45%;
  }

  .meio img {
      padding-left: 2%;
  }

  .fundo-header img {
      padding-left: 25%;
  }

  .idPK {
    padding-left: 42.5%;
  }