<template>
  <section>
    <h1>{{ usuario }}, seja bem vindx!</h1>
    
    <select v-model="opcaoSelecionada" @change="onChange">
      <option v-for="opcao in opcoes" :key="opcao.id" :value="opcao">
        {{ opcao.texto }}
      </option>
    </select>
    <h3 v-show="opcaoSelecionada.texto">Selecionado: {{ opcaoSelecionada.texto }}</h3>

    <div v-show="opcaoSelecionada.texto">
      <button type="button" class="btn btn-outline-secondary">Página Anterior</button>
      <button type="button" class="btn btn-outline-secondary">Próxima Página</button>
    </div>

    <TabelaPokemon :pokemons="pokemons" />

  </section>
</template>

<script>
import PokeApi from '../../api/pokeApi.js'
import PokemonLinha from '../shared/PokemonLinha.vue'
import TabelaPokemon from '../shared/TabelaPokemon.vue'

export default {
  name: 'Home',
  components: {
    PokemonLinha, TabelaPokemon
  },
  data: () => {
    return {
      usuario: '',
      opcoes: [
        { id: 1, texto: 'Normal' },
        { id: 2, texto: 'Lutador' },
        { id: 3, texto: 'Voador' },
        { id: 4, texto: 'Venenoso' },
        { id: 5, texto: 'Terra' },
        { id: 6, texto: 'Pedra' },
        { id: 7, texto: 'Inseto' },
        { id: 8, texto: 'Fantasma' },
        { id: 9, texto: 'Aço' },
        { id: 10, texto: 'Fogo' },
        { id: 11, texto: 'Água' },
        { id: 12, texto: 'Grama' },
        { id: 13, texto: 'Elétrico' },
        { id: 14, texto: 'Psíquico' },
        { id: 15, texto: 'Gelo' },
        { id: 16, texto: 'Dragão' },
        { id: 17, texto: 'Escuro' },
        { id: 18, texto: 'Fada' },
        { id: 10001, texto: 'Desconhecido' },
        { id: 10002, texto: 'Sombra' },
      ],
      opcaoSelecionada: {},
      pokemons: [ ]
    }
  },
  methods: {
    async onChange() {
      const pokeApi = new PokeApi( 'https://pokeapi.co/api/v2/pokemon' )
      const qtdPokemonsPagina = 10
      const pagina = 1
      this.pokemons = await pokeApi.listarPorTipo( this.opcaoSelecionada.id, qtdPokemonsPagina, pagina )
    }
  },
  created() {
    this.usuario = this.$route.params.usuario
  }
}
</script>

